In [53]:
import pandas as pd
import json
import requests
import matplotlib.pyplot as plt

In [60]:
#pulls csv files for April
covid_csv_2021=pd.read_csv("output/2021_covid_rates.csv")
covid_csv=pd.read_csv("output/april_covid_rates.csv")
vaccines_csv=pd.read_csv("API Data/output_csv_files/vaccines_april.csv")

In [55]:
#creates a new df with reduced columns for vaccines
vaccines_df=vaccines_csv[["country",'date','daily_vaccinations','daily_vaccinations_per_million']]

#renames matching columns
vaccine_df_renamed=vaccines_df.rename(columns={"date":"Date","country":"Location"})

#just grabs apil dates
apr_vaccines_df=vaccine_df_renamed.loc[vaccine_df_renamed['Date'].str.contains("2021-04")]
apr_vaccines_df.head()

       Location        Date daily_vaccinations daily_vaccinations_per_million
38  Afghanistan  2021-04-01               3000                             77
39  Afghanistan  2021-04-02               3000                             77
40  Afghanistan  2021-04-03               3000                             77
41  Afghanistan  2021-04-04               3000                             77
42  Afghanistan  2021-04-05               3000                             77

In [56]:
#output covid df for visualization
covid_csv.head()

,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths
0,Afghanistan,2021-04-30,59745,2625,169,7
1,Afghanistan,2021-04-29,59576,2618,206,7
2,Afghanistan,2021-04-28,59370,2611,145,13
3,Afghanistan,2021-04-27,59225,2598,210,6
4,Afghanistan,2021-04-26,59015,2592,172,10

In [63]:
#merges on two columns for April
merged_df=pd.merge(covid_csv,apr_vaccines_df, on=["Date","Location"], how="inner")

In [65]:
merged_df

,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths,daily_vaccinations,daily_vaccinations_per_million
0,Afghanistan,2021-04-22,58312,2561,98,4,8000,206
1,Afghanistan,2021-04-21,58214,2557,177,8,8000,206
2,Afghanistan,2021-04-20,58037,2549,139,3,8000,206
3,Afghanistan,2021-04-19,57898,2546,105,7,8000,206
4,Afghanistan,2021-04-18,57793,2539,72,0,8000,206
...,...,...,...,...,...,...,...,...
4013,Zimbabwe,2021-04-05,36934,1525,11,0,9129,614
4014,Zimbabwe,2021-04-04,36923,1525,12,1,8537,574
4015,Zimbabwe,2021-04-03,36911,1524,8,0,8498,572
4016,Zimbabwe,2021-04-02,36903,1524,7,1,8156,549
4017,Zimbabwe,2021-04-01,36896,1523,14,0,6617,445

In [67]:
#outputs csv for april
merged_df.to_csv("output/april_covid_vacc_merged.csv", index=False)

In [69]:
#merges on two columns going back to January 2021
merged_df_2021=pd.merge(covid_csv_2021,vaccine_df_renamed, on=["Date","Location"], how="inner")

In [80]:
merged_df_2021.head()

,Location,Date,Total_Confirmed,Total_Deaths,Daily_Confirmed,Daily_Deaths,daily_vaccinations,daily_vaccinations_per_million
0,Afghanistan,2021-04-22,58312,2561,98,4,8000,206
1,Afghanistan,2021-04-21,58214,2557,177,8,8000,206
2,Afghanistan,2021-04-20,58037,2549,139,3,8000,206
3,Afghanistan,2021-04-19,57898,2546,105,7,8000,206
4,Afghanistan,2021-04-18,57793,2539,72,0,8000,206

In [82]:
merged_df_2021.to_csv("output/2021_covid_vacc_merged.csv", index=False)